
        /* Top Header & Banner Styling */
        .header-table {
            width: 95%;
            border: 0;
            background-color: #006666;
            margin: 15px auto 0 auto;
            border-collapse: collapse;
        }

        .logo-box {
            background-color: #004d4d;
            color: #ffffff;
            padding: 15px;
            text-align: center;
            width: 15%;
            border-right: 2px solid #B2DFDB;
        }

        .banner-box {
            padding: 20px;
            text-align: center;
            color: white;
            width: 85%;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #EAF6F6;
            margin: 0;
            padding: 20px;
            color: #333333;
        }
        .header {
            background-color: #006666;
            width: 90%;
            margin: auto;
            padding: 25px;
            border-radius: 6px;
            box-sizing: border-box;
            text-align: center;
        }
        .header h1 {
            color: white;
            font-size: 30px;
            margin: 0 0 10px 0;
        }
        .header p {
            color: #B2DFDB;
            font-size: 20px;
            margin: 0;
        }
        .report-container {
            width: 90%;
            margin: 30px auto;
            background-color: white;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }
        caption {
            font-size: 22px;
            font-weight: bold;
            color: #006666;
            margin-bottom: 15px;
            caption-side: top;
            text-align: left;
        }
        th, td {
            border: 1px solid #b2d8d8;
            padding: 12px 15px;
            text-align: left;
        }
        thead th {
            background-color: #006666;
            color: white;
            font-size: 16px;
        }
        tbody tr:nth-child(even) {
            background-color: #f9fbfb;
        }
        tfoot td {
            background-color: #e6f2f2;
            font-weight: bold;
            color: #004c4c;
        }
        .status-normal {
            color: #2e7d32;
            font-weight: bold;
        }
        .status-high {
            color: #c62828;
            font-weight: bold;
        }
        .status-low {
            color: #d97706;
            font-weight: bold;
        }
         .footer-table {
            width: 100%;
            border: 0;
            background-color: #006666;
            color: white;
            margin-top: 20px;
            border-collapse: collapse;
        }